h1 {
    text-align: center;
    color: white;
}

#body {
    background: black url(../imagens/bodyBG.jpg) no-repeat center;
}
label {
    color: white;
}

th {
    color: white;
}

td {
    color: white;
}